@import "_variables.scss";

.footer {
    box-sizing: border-box;
    min-height: 5vh;

    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5FE1D5;

    &>.floater {
        width: 80px;
        height: 80px;
        background-color: #FFBF69;
        position: absolute;
        top: -50%;
        left: 50vw;
        transform: translateX(-50%);
        border-radius: 50px;
        border: 10px solid $white;

        display: flex;
        justify-content: center;
        align-items: center;

        &>.icon {
            font-size: 50px;
        }
    }


    display: flex;
    justify-content: space-between;
    align-items: center;

}