@import "_variables.scss";

.stats {
    width: 100%;
    min-height: 95vh;
    background-color: $main-pale;
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 100px;

    &>* {
        width: 35%;
    }

    &>.sideText {
        color: $accent;
        font-weight: 700;
        font-size: 1.25rem;
    }

}

.menu {
    width: 100%;
    box-sizing: border-box;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    gap: 0px;
    padding: 20px;
    margin-top: 40px;

    & .menuItem {
        position: relative;
        top: 0;
        right: -5%;
        height: 100px;
        width: 100%;
        margin-bottom: 16px;
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 50px 0 0 50px;

        & h1 {
            margin-left: 20px;
            font-size: 1.7rem;
            text-align: left;

            & span {
                font-size: 1.25rem;
            }
        }

        & img {
            box-sizing: border-box;
            border: 5px solid #2EC4B6;
            border-radius: 50px;
        }

        .icon {
            position: relative;
            border: 5px solid gold;
            left: -20px;
        }
    }


}