@import "_variables.scss";

.wraper {
    z-index: 20;
    position: absolute;
    right: 0;
    top: 20px;
    width: 40px;
    background-color: $white;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 50px 0 0 50px;
}

.floaterTextWraper{
    z-index: 20;
    position: absolute;
    left: 25px;
    top: 25px;

    & * {
        margin: 0;
    }

    & .floaterText {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 32px;
    }


}