@import "_variables.scss";

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.container {
    position: relative;
}

.scanner {
    position: absolute;
    width: 225%;
    left: -30%;
    rotate: -90deg;
}

.result {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

.animateflicker {
    animation: flickerAnimation 2s infinite;
}

@keyframes moveAnimation {
    0% {
        top: 350px;
    }

    50% {
        top: 534px;
    }

    100% {
        top: 350px;
    }
}

.animatemove {
    animation: moveAnimation 1.5s infinite;
}

#scannerbar {
    position: absolute;
    width: 192px;
    height: 8px;
    top: 350px;
    left: 108px;
    background-color: white;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

#overlay:before,
#overlay:after,
#overlay>:first-child:before,
#overlay>:first-child:after {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 50px;
    border-color: red;
    border-style: solid;
}

#overlay:before {
    bottom: -400px;
    left: 100px;
    border-width: 8px 0 0 8px
}

#overlay:after {
    bottom: -400px;
    left: 250px;
    border-width: 8px 8px 0 0
}

#overlay>:first-child:before {
    bottom: -550px;
    left: 250px;
    border-width: 0 8px 8px 0
}

#overlay>:first-child:after {
    bottom: -550px;
    left: 100px;
    border-width: 0 0 8px 8px
}